.DS_Store
.lake/
_out/
build/
*.olean
node_modules/
_site/
blueprint/print/
.venv/
/.lake/
*.pdf
/refs

# Reference PDFs — local-only (copyright; large). Text extractions + maps are tracked.
references/*.pdf
references/*.txt
*.log
